* {
  margin: 0;
  padding: 0;
}
body {
  background: url("sign_in_bg.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
}
.box {
  color: white;
  padding: 20px;
  margin: 20px;
  /* border: 2px solid black; */
}
.box h1 {
  display: inline-block;
  font-size: 2.8rem;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 4px solid rgb(183, 81, 183);
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-bottom: 2px solid rgb(183, 81, 183);
}
.box1 input {
  padding: 0px 10px;
  margin: 10px;
  width: 400px;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  color: white;
}
.box1 input::placeholder {
  color: white;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(183, 81, 183);
  width: 90%;
  margin-top: 20px;
}
.box2 input {
  padding: 0px 10px;
  margin: 10px;
  width: 400px;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  color: white;
}
.box2 input::placeholder {
  color: white;
}
button {
  padding: 5px;
  border: 2px solid rgb(183, 81, 183);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  background: none;
  font-size: 1rem;
  font-weight: 600;
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn:hover {
  background: white;
  color: rgb(183, 81, 183);
  opacity: 0.3;
}
#forgot_password {
  padding-top: 15px;
}
#forgot_password a {
  color: rgb(183, 81, 183);
  text-decoration: none;
  font-size: 1.2rem;
}
i {
  font-size: 1.2rem;
}
@media (max-width: 780px) {
  body {
    background: url("sininphone.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    color: white;
    padding: 25px;
    width: 80%;
  }
  .box h1 {
    border-bottom: 4px solid rgb(202, 161, 58);
  }
  .box1 {
    border-bottom: 2px solid rgb(202, 161, 58);
  }
  .box2 {
    border-bottom: 2px solid rgb(202, 161, 58);
  }
  button {
    border: 2px solid rgb(202, 161, 58);
  }
  #forgot_password a {
    color: rgb(202, 161, 58);
    text-decoration: none;
    font-size: 1.2rem;
  }
  .btn:hover {
    background: white;
    color: rgb(202, 161, 58);
    opacity: 0.3;
  }
}
